body {
    margin: 0;
}

@import 'styles/login.scss';
@import 'styles/buttons.scss';
@import 'styles/inputs.scss';

$myFont: 'Roboto', sans-serif;

body {
    font: {
        family: $myFont;
        size: 16px;
    }
}

